<ul class="" >
    <% var allCategories = eval(site.categories.data) %>
    <% allCategories.sort((a, b) => {
        if (a.posts.length > b.posts.length) {
          return -1;
        }
        if (a.posts.length < b.posts.length) {
          return 1;
        }
        return 0;
      }) 
    %>

    <% for (let i = 0; i < allCategories.length; i++) { %>
        <li class="">
            <a href="<%- url_for(allCategories[i].path) %>"><%= allCategories[i].name %></a>
        </li>
    <% } %>
    
</ul>