
@font-face
{
    font-family: "notoserifsc-medium";
    font-style: normal;
    font-weight: 600;
    src: local(""),
        url("../fonts/notoserifsc-medium-webfont.woff2") format("woff2"),  /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/notoserifsc-medium-webfont.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    ;
}


@font-face {
    font-family: "LXGW WenKai";
    font-weight: 400;
}

@font-face {
    font-family: "LXGW WenKai";
    font-weight: 700;
}

@font-face {
    font-family: "Local LXGW WenKai";
    font-style: normal;
    font-weight: 600;
    src: local("../fonts/LXGWWenKaiLite-Regular.woff2"),
        url("../fonts/LXGWWenKaiLite-Regular.woff2") format("woff2"),
        url("../fonts/LXGWWenKaiMono-Regular.woff2") format("woff2"),
        url("https://jsd.cdn.zzko.cn/gh/hininojay/images/source/img/a4color/LXGWWenKaiLite-Regular.woff2") format("woff2"),
        url("https://jsd.cdn.zzko.cn/gh/hininojay/images/source/img/a4color/LXGWWenKaiMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Local LXGW WenKai Bold";
    font-style: normal;
    font-weight: bold;
    src: local("../fonts/LXGWWenKaiLite-Bold.woff2"),
        url("../fonts/LXGWWenKaiLite-Bold.woff2") format("woff2"),
        url("https://jsd.cdn.zzko.cn/gh/hininojay/images/source/img/a4color/LXGWWenKaiLite-Bold.woff2") format("woff2");
}
