
@font-face
{
    font-family: "NotoSerifSC-Medium";
    src: url("../fonts/NotoSerifSC-Medium.otf") , /* Chrome 26+, Opera 23+, Firefox 39+ */
}


@font-face
{
    font-family: "NotoSerifSC-Regular";
    src: url("../fonts/NotoSerifSC-Regular.otf") , /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face
{
    font-family: "NotoSerifSC-Medium";
    src: url("../fonts/NotoSerifSC-Medium.otf") , /* Chrome 26+, Opera 23+, Firefox 39+ */
}


@font-face
{
    font-family: "NotoSerifSC-Regular";
    src: url("../fonts/NotoSerifSC-Regular.otf") , /* Chrome 26+, Opera 23+, Firefox 39+ */
}
