<% if(theme.comment.enable) { %>
    <div class="comments-container">
    <div id="comment-anchor"></div>
    <div class="comment-area-title">
        以上。 
    </div>
        <%- partial('waline') %>
    </div>
<% } %>
