<% if(page.hasOwnProperty('comment') ? page.comment
    : theme.comment.twikoo.envId
    && theme.comment.twikoo.lang
) { %>

        <div id="tcomment"></div>
        <script src="https://npm.onmicrosoft.cn/hexo-theme-a4@v1.8.8/source/js/twikoo.all.min.js"></script>
        <script>
        twikoo.init({
            envId: '<%= theme.comment.twikoo.envId %>',
            el: '#tcomment',
            region: '<%= theme.comment.twikoo.region %>',
            lang: '<%= theme.comment.twikoo.lang %>',
        })
        </script>

<% } %>
