<% if(theme.comment.twikoo.envId
        && theme.comment.twikoo.lang
        && (!page.hasOwnProperty('comment'))
        || (page.hasOwnProperty('comment') && page.comment)
) { %>

    <div id="tcomment"></div>
    <script src="https://npm.onmicrosoft.cn/twikoo/dist/twikoo.all.min.js"></script>
    <script>
    twikoo.init({
      envId: '<%= theme.comment.twikoo.envId %>',
      el: '#tcomment',
      region: '<%= theme.comment.twikoo.region %>',
      lang: '<%= theme.comment.twikoo.lang %>',
    })
    </script>

<% } %>
