<% if(
        theme.comment.use === 'waline'
        && theme.comment.waline.serverUrl
        && theme.comment.waline.lang
) { %>
 
    <div id="waline"></div>
    <script type="module"  >
        import { init } from 'https://evan.beee.top/js/waline.mjs';
        function loadWaline() {
            init({
                el: '#waline',
                serverURL: '<%= theme.comment.waline.serverUrl %>',
                lang: '<%= theme.comment.waline.lang %>',
                dark: 'body[class~="dark-mode"]',
                requiredMeta: ['nick','mail'], // cannot customize by theme config, change it yourself
            });
        }
        window.addEventListener('DOMContentLoaded', loadWaline);
    </script>

<% } %>